/* Using this file we will make responsive website */
/*  @media only screen and (min-width:1024px)----- me desktop size eka*/
/*  @media only screen and (min-width:1024px)----- me tablet size eka*/

/* for tablets*/
@media only screen and (max-width:768px){
    .sticky{
        padding: 2% 5%;
        top: 10px;


    }

}

/* for large mobiles*/
@media only screen and (max-width:425px){
    .title-text{
        margin-left: 6%;
        width: 80%;
    }

    .content-1 .circle{
        margin-left: 35%;
    }

    .sticky{
        padding: 2% 5%;
        top: 20px;


    }
}

@media only screen and (max-width:320px){

    .site-title h2{
        font-size:1.9em;
    }

    .title-text{
        margin-left: 2%;
        width: 100%;
    }

    .btn-sub2{
        display: none;
    }

    footer span{

        display: none;
    }

   footer .top a{
        
        padding-bottom: 5px;
    }
}

